<!DOCTYPE html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
	
		<main class="main">
	        <div class="page-header breadcrumb-wrap">
	            <div class="container">
	                <div class="breadcrumb">
	                </div>
	            </div>
	        </div>
	        <section class="mt-50 mb-50 height-hb">
	            <div class="container">
	                <div class="row ">
	                    <div class="col-lg-12 ">
	                        <div class="row product-grid-3 flex-center-hb ">
	                        	<!-- AI 맞춤형 start --> 
	                            <div class="col-lg-4 col-md-4 flip-hb">
	                            	<div class="card-hb">
	                            		<!-- 카드 앞면 start -->
										<div class="product-cart-wrap mb-30 front-hb">
										    <div class="product-img-action-wrap">
										        <div class="product-img product-img-zoom">
										            <a href="shop-product-right.html">
										                <img class="default-img card-img-hb" src="assets/imgs/customizing/customizing_main01.jpg" alt="">
										            </a>
										        </div>
										    </div>
										    <div class="product-content-wrap">
										        <div class="product-price textarea-hb">
										            <span>AI가 추천하는 맞춤 화장 </span>
										
										        </div>
										    </div>
										</div>
										<!-- 카드 앞면 end -->
										
	                            		<!-- 카드 뒷면 start -->
		                                <div class="product-cart-wrap mb-30 back-hb">
		                                    <div class="product-img-action-wrap">
		                                        <div class="product-img product-img-zoom">
		                                        	<img class="default-img card-img-hb" src="assets/imgs/shop/product-3-1.jpg" alt="">
		                                        </div>
		                                    </div>
		                                    <div class="product-content-wrap textarea-hb">
		                                        <h2><a href="shop-product-right.html">피부 MBTI 진단하기</a></h2>		                                        
		                                    </div>
		                                </div>
		                                <!-- 카드 뒷면 end -->
	                            	</div>
	                            
	                            </div>
	                            <!-- AI 맞춤형 end-->
	                            <div class="col-lg-1"></div> 
	                            <!-- 1:1 맞춤형 start -->
								<div class="col-lg-4 col-md-4">
	                            	<!-- 카드 -->
	                            	<div class="flip-hb"> 
	                            	<div class="card-hb">
		                               <div class="product-cart-wrap mb-30 front-hb">
		                                   <div class="product-img-action-wrap">
		                                       <div class="product-img product-img-zoom">
		                                           <a href="shop-product-right.html">
		                                               <img class="default-img card-img-hb" src="assets/imgs/customizing/customizing_main03.jpg" alt="">
		                                           </a>
		                                       </div>
		                                   </div>
		                                   <div class="product-content-wrap">
		                                       <div class="product-price textarea-hb">
		                                           <span>1 : 1 맞춤 화장품</span>
	
		                                       </div>
		                                   </div>
		                               </div>
	                            		<!-- 카드 뒷면 start -->
		                                <div class="product-cart-wrap mb-30 back-hb">
		                                    <div class="product-img-action-wrap">
		                                        <div class="product-img product-img-zoom">
		                                        	<img class="default-img card-img-hb" src="assets/imgs/shop/product-3-1.jpg" alt="">
		                                        </div>
		                                    </div>
		                                    <div class="product-content-wrap textarea-hb">
		                                        <h2><a href="shop-product-right.html">상담 신청하기</a></h2>
		                                        
		                                    </div>
		                                </div>
		                                <!-- 카드 뒷면 end -->
	                            	</div>
	                            	</div>
	                            </div>
	
	                            
	                            
	                            
							</div>
	                    </div>
	                </div>
	            </div>
	        </section>
    	</main>
    	
	</th:block>
	</th:block>
</html>