<!DOCTYPE html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
<!-- 여기서부터 작성 -->
   
    <main class="main">
	
		<section class="main-img1-hb">
			<h1 class="main-img1h1-hb">어떻게 이별까지 사랑하겠어,<br/>널 사랑하는 거지 </h1><br/>
			<p class="main-img1p-hb">
			우리 사이에 그 어떤 힘든 일도<br/>
			이별보단 버틸 수 있는 것들이었죠<p>	
		</section>
		<section class="main-img2-hb">
			<h1 class="main-img2h1-hb">나는 읽기 쉬운 마음이야<br/>당신도 스윽 훑고 가세요</h1><br/>
			<p class="main-img2p-hb">
			나의 자라나는 마음을 못본채 꺾어 버릴수는 없네<br/> 
			미련 남길바엔 그리워 아픈게 나아<p>	
		</section>
		<section class="main-img3-hb">
			<h1 class="main-img3h1-hb">어쩌면 누군가를 사랑하는 것보다<br/>더 어려운게<br/>나 자신을 사랑하는거야</h1><br/>
			<p class="main-img3p-hb">
			솔직히 인정할 건 인정하자<br/> 
			니가 내린 잣대들은<br/>
			너에게 더 엄격하단 걸<p>	
		</section>
		<section class="main-img4-hb">
			<h1 class="main-img4h1-hb">사랑이란 어쩌면 순간의 감정의 나열<br/>조건이 다들 붙지<br/>난 뭘 사랑하는가</h1><br/>
			<p class="main-img4p-hb">
			영원이라는 말은 어쩌면 모래성<br/> 
			잔잔한 파도 앞에 힘없이 무너져<p>	
		</section>
		<section class="main-img5-hb">
			<h1 class="main-img5h1-hb">내 그림자를 가른 한줄기 빛<br/>어둡기만한 내 삶을 <br/>뒤집어 놓은 너</h1><br/>
			<p class="main-img5p-hb">
			나 어쩌면 아무것도 아니지 너를 만나기전엔 그저 보잘것 없던 나<br/> 
			그 전 내 삶은 다 하루를 대충 때우기에 급급했었잖아<br/>
			우리의 낮 우리의 밤 그래 우리의 삶<p>	
		</section>
	
    
    
    </main>
    
    
<!-- 여기까지 입력 -->
	</th:block>
	</th:block>
</html>